#backgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Crimson Text", serif;
  color: white;
  text-align: center;
  font-size: 75px;
}

#horloge {
  font-family: "Crimson Text", serif;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
}

:placeholder-shown {
  font-size: 20px;
}

::placeholder {
  text-align: center;
  font-size: 10px;
}
