body {
  background-image: url("landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Covers all background */
  background-attachment: fixed; /* Fixed = covers all element without stretching */
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Crimson Text", serif;
  color: black;
  font-size: xx-large;
}
